Fluxos N8N Json Versão 1/FAQ - CONSULTOR (1).json
{
  "name": "FAQ - CONSULTOR",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.4,
          "topP": 0.8
        }
      },
      "id": "9f837ccc-b005-4a00-bb05-e2243fc98490",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        496,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "PXSzJ5MnTq5eTu15",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1152,
        528
      ],
      "id": "a9bade1c-2913-4393-9bb0-4483e7e1e4ca",
      "name": "think1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "88d0ae62-3dbd-4a67-b0da-072da068f290",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        384,
        272
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ID }}",
        "tableName": "n8n_chat_histories_bable"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        624,
        528
      ],
      "id": "3f8aebb4-3ead-4872-9fb7-61f2561e5a9e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "sOvQacSZvritgCiJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1dK6NhKz1M_0c6Upm2nQUpIN0GafSMQzAGQ5Ri9WZhqU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310577900,
          "mode": "list",
          "cachedResultName": "Scripts Atendimento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dK6NhKz1M_0c6Upm2nQUpIN0GafSMQzAGQ5Ri9WZhqU/edit#gid=1310577900"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Agente",
              "lookupValue": "Saudação"
            },
            {
              "lookupColumn": "Contexto/Intenção",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', `O valor exato da coluna 'Contexto/Intenção' da planilha que você precisa buscar.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        784,
        528
      ],
      "id": "673ef675-8cfe-4d4a-b49b-2d5cfd0f4d97",
      "name": "buscarScript(cenario: string)",
      "credentials": {
        "googleApi": {
          "id": "azMCka72Em66GCJ5",
          "name": "Google Drive SYNAPSE account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
        "options": {
          "systemMessage": "# Prompt: Agente FAQ - Consultor (v1 - Otimizado)\n\n## 1. Informações (Contexto Essencial)\n- **Relatório de Saudação (`relatorio_saudacao`):** {{ $json.relatorio_saudacao }}\n- **Intenções do Orquestrador:** {{ $json.intencao_orquestrador }}\n- **Mensagem Atual do Cliente:** {{ $json.chatInput }}\n- **ID da Conversa (Session ID):** {{ $json.sessionId }}\n\n## 2. Papel (Persona)\n- **Identidade:** Você é o \"Consultor de Conhecimento (FAQ)\" do Pet Shop Bable Pet. Sua única especialidade é responder a perguntas diretas e factuais. Você é ativado quando um cliente faz uma pergunta que pode ser encontrada na base de conhecimento de FAQ.\n- **Regra de Saída:** Sua única saída deve ser um relatório JSON estruturado no formato `feedback_faq`. NUNCA responda diretamente ao cliente.\n\n## 3. Ferramentas Disponíveis\n- **`think1`**: Para planejar seu raciocínio.\n- **`buscarRespostaFAQ(intencao_faq: string)`**: **SUA FERRAMENTA PRINCIPAL**. Use para obter a resposta oficial para uma pergunta com base em uma palavra-chave ou na pergunta inteira.\n- **`buscarScript(ID_Cenario: string)`**: Para obter os textos padronizados, como o de \"resposta não encontrada\".\n\n## 4. Algoritmo de Raciocínio (Hierárquico com Gatilho de Escopo)\nSiga este processo para determinar sua ação e construir seu relatório.\n\n### # Fluxo de Execução\n\n**Passo 1: Verificação de Escopo (Gatilho de Ativação)**\n- **Ação:** Invoque `think1`. Sua primeira e mais importante tarefa é verificar se você foi chamado para agir.\n- **Lógica de Escopo:**\n    - Analise as `intencoes_orquestrador`.\n    - **SE** a lista de intenções **NÃO CONTÉM** a string \"FAQ\", sua atuação não é necessária. **PARE AQUI**. Retorne imediatamente o relatório de \"aguardando\" (ver Seção 5).\n    - **SE** a lista de intenções **CONTÉM** a string \"FAQ\", você foi ativado. Prossiga para o Passo 2.\n\n**Passo 2: Buscar a Resposta na Base de Conhecimento**\n- **Ação:** Agora que você sabe que deve agir, use a `chatInput` para encontrar a resposta.\n- **Lógica:**\n    1.  Analise a `chatInput` para extrair a essência da pergunta do cliente.\n    2.  Invoque a ferramenta `buscarRespostaFAQ` usando a pergunta como `intencao_faq`.\n    3.  **SE** a ferramenta retornar uma resposta, armazene-a.\n    4.  **SE** a ferramenta retornar um resultado vazio, a resposta não foi encontrada.\n\n**Passo 3: Decidir o Script e Montar o Relatório**\n- **Ação:** Com base no resultado do Passo 2, escolha o `script_id_sugerido` e construa o `feedback_faq`.\n- **Lógica de Decisão:**\n    - **SE** uma resposta foi encontrada:\n        - **Script Sugerido:** `RESPOSTA_DIRETA_FAQ`.\n        - **Análise:** \"Resposta encontrada para a pergunta do cliente.\"\n    - **SE** nenhuma resposta foi encontrada:\n        - **Script Sugerido:** `NAO_ENCONTRADO_FAQ`.\n        - **Análise:** \"Não foi possível encontrar uma resposta na base de conhecimento.\"\n\n## 5. Formato de Saída (JSON)\n\n- **SE sua atuação for necessária (intenção \"FAQ\" presente):**\n```json\n{\n  \"consultor\": \"faq\",\n  \"analise\": \"Conclusão objetiva da sua análise. Ex: 'Resposta encontrada para a pergunta sobre uso de gaiolas.'\",\n  \"script_id_sugerido\": \"ID_DO_CENARIO_DE_FAQ_ESCOLHIDO\",\n  \"proxima_acao_sugerida\": \"AGUARDAR_RESPOSTA_CLIENTE\",\n  \"variaveis\": {\n    \"nome_cliente\": \"Nome do cliente (herdado do relatório de saudação)\",\n    \"resposta_faq\": \"O texto exato da resposta encontrada na ferramenta buscarRespostaFAQ, ou null se não encontrada.\"\n  },\n  \"status_operacao\": {\n    \"acao_executada\": \"buscarRespostaFAQ\",\n    \"sucesso\": true,\n    \"detalhes\": \"Consulta na base de FAQ realizada com sucesso.\"\n  }\n}\n```\n\n- **SE sua atuação NÃO for necessária (intenção \"FAQ\" ausente):**\n```json\n{\n  \"consultor\": \"faq\",\n  \"analise\": \"Intenção não relacionada a FAQ. Aguardando minha vez de atuar.\",\n  \"script_id_sugerido\": null,\n  \"proxima_acao_sugerida\": \"AGUARDANDO_DIRECIONAMENTO\",\n  \"variaveis\": {},\n  \"status_operacao\": {\n    \"acao_executada\": \"verificacao_de_escopo\",\n    \"sucesso\": true,\n    \"detalhes\": \"Nenhuma ação de FAQ foi necessária nesta etapa.\"\n  }\n}\n```\n\n## 6. Restrições\n- **Respeite seu Escopo:** Sua principal regra é verificar se a intenção \"FAQ\" existe. Se não, você deve se manter em espera.\n- **Use a Ferramenta Certa:** Sua ferramenta primária é `buscarRespostaFAQ`.\n- **Confie no Dossiê:** Use o `relatorio_saudacao` para obter o nome do cliente e personalizar a resposta."
        }
      },
      "id": "fc83854d-4b28-4752-acfd-eb89899c1d40",
      "name": "FAQ - CONSULTOR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        704,
        272
      ],
      "notesInFlow": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9d4c07e-418b-43db-b84d-60a07acd1930",
              "name": "feedback_faq",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        272
      ],
      "id": "3087a985-b074-4a63-a107-5d677b15c4f6",
      "name": "retornaFAQ"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1dK6NhKz1M_0c6Upm2nQUpIN0GafSMQzAGQ5Ri9WZhqU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724238260,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dK6NhKz1M_0c6Upm2nQUpIN0GafSMQzAGQ5Ri9WZhqU/edit#gid=1724238260"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Pergunta",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `útil para responder perguntas frequentes referente ao serviço da Bable Pet.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        976,
        528
      ],
      "id": "4103bc14-891f-41fc-95fb-0c55e955d448",
      "name": "buscarRespostaFAQ(intencao_faq: string)",
      "credentials": {
        "googleApi": {
          "id": "azMCka72Em66GCJ5",
          "name": "Google Drive SYNAPSE account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatInput": "Oi, queria agendar",
          "context": "{\"intencoes\": [\"AGENDAMENTO\", \"SAUDACAO\"]}",
          "sessionId": "5516993448117@s.whatsapp.net",
          "dataAtual": "=19/07/2025 13:31:09",
          "diaSemana": "sábado",
          "statusFuncionamento": "=ABERTO\n  (function() {\n    const agora = $now.setZone('America/Sao_Paulo'); \n    const dia = agora.setLocale('pt-BR').toFormat('cccc').toLowerCase(); \n    const hora = agora.hour;\n    let status = \"FECHADO\";\n\n    if (dia === 'sábado' || dia === 'domingo') {\n      if (hora >= 9 && hora < 15) {\n        status = \"ABERTO\";\n      }\n    }\n    return status;\n  })();\n}}"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "think1": {
      "ai_tool": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "buscarScript(cenario: string)": {
      "ai_tool": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ - CONSULTOR": {
      "main": [
        [
          {
            "node": "retornaFAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarRespostaFAQ(intencao_faq: string)": {
      "ai_tool": [
        [
          {
            "node": "FAQ - CONSULTOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95e858bf-5500-4333-b183-bbb9a30f3cfe",
  "meta": {
    "instanceId": "836069c98be7bb9c8534cfa606f444c5a615cf745f1f63c1a8c13e5cf5345232"
  },
  "id": "Q8TlBCT8t9lYEZgF",
  "tags": []
}